<%- include('partials/header') -%>
  <div class="container col-xxl-8 px-4 py-5 card-container">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/heroimage.png" class="d-block mx-lg-auto mx-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-1 lh-1 mb-3 justify-content-md-center" style="font-weight: 800;">The Ultimate Marketing Swipe File</h1>
        <p class="lead w-100">See what's hot in marketing today, keep track of your favorite inspo, & organize it all into categories of your choice!</p>
        <div class="d-grid gap-2 d-md-flex fill-button" id="btn-special">
          <a href="/signup" type="button" class="btn btn-hero">
            Start swiping now!
          </a>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>