<%- include('partials/headerauthin') -%>
<div class="container card-container">
  <div class="row justify-content-center">
      <div class="col-6">
          <div>
            <h2 class="mb-4">Add a swipe</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Swipe Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
              <label for="country" class="form-label">Swipe Category</label>
              <select class="form-select" aria-label="Default select example" id="country" name="country">
                <option selected>Select Category</option>
                <option selected>Organizational</option>
                <option selected>Design</option>
                <option selected>Copy</option>
                <option selected>Fact</option>
              </select>
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Swipe Description</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Swipe Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
  
<%- include('partials/footer') -%>