@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: -0.75px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.card {
  margin: 0 -5px;
}

.card-container{
  margin-top: 8rem;  
}

.card-container-lg{
    margin-top: 8rem;  
  }

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
}

.btn-nav{
    margin-right: .5rem;
    padding: 7px 20px;
}

.home{
    border: 2px solid black;
    min-height: 80vh;
}

.btn-liked{
    color: #f03566;
  }

.btn-bookmarked{
    background: #ffff;
}

#shadowhover:hover {
  box-shadow: none;
}

.navbar {
  padding-bottom: 8px;
}

#btn-head {
  border: 1px solid rgb(238, 180, 168);
  color: black;
  background: white;
}

#btn-head:hover {
  box-shadow: 0 0 15px silver;
}

.btn-hero {
  background: rgb(118, 80, 217);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  padding: 7px 20px;
  font-size: 1.2rem;
}

.btn-hero:hover {
  background: rgb(85, 49, 190);
  color: white;
}

.btn:hover {
  transition: all 0.25s;
}

#btn-login {
  color: rgb(124, 92, 218); 
  border: 1px solid rgb(124, 92, 218);
  background: white;
  font-weight: 600;
}

#btn-login:hover {
  box-shadow: 0 0 10px rgb(150, 150, 150);
  border: 1px solid rgb(124, 92, 218);
}

#btn-signup {
  background: rgb(124, 92, 218); 
  color: white;
  font-weight: 600;
}

#btn-signup:hover {
  background: rgb(85, 49, 190);
  color: white;
}

.nav-link {
  color: black;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 3px;
  padding-top: 8px;
}

.nav-link:hover {
  background: rgb(85, 49, 190);
  border: 1px solid rgb(85, 49, 190);
  color: white;
  box-shadow: 0 0 10px silver;
  border-radius: 4px;
  padding: 6px 13px 6px;
  margin: 0 5px;
}

#btn-loginpage {
  background: rgb(124, 92, 218);
  color: white;
}

#btn-loginpage:hover {
  background: rgb(85, 49, 190);
  color: white;
}

#btn-viewswipe {
  background: rgb(124, 92, 218);
  color: white;
  font-weight: 600;
  border: 1px solid rgb(85, 49, 190);
  margin: 0 auto;
}

#btn-viewswipe:hover {
  background: rgb(85, 49, 190);
  color: white;
}

#btn-guest {
  border: 1px solid rgb(238, 180, 168); 
  background: white;
}

#btn-guest:hover {
  border: 1px solid rgb(85, 49, 190); 
  background: rgb(85, 49, 190);
  color: white;
}

.logo-container {
  margin-right: 8rem;
}

.btn-liked {
  background-color: #f03566;
}

.hero-heading {
  line-height: 5rem;
  letter-spacing: -3px;
}

p.hero-sub {
  line-height: 1.8rem;
  font-size: 1.3rem;
}

.card-img-top-img {
  max-height: 17rem;
  min-height: 17rem;
  width: 100%;
}

.btn-hero {
  width: 50%;
}

.commentbox {
  width: 50%;
}

.swipe-img {
  width: 100%;
}

.details-container{
  display: flex;
}

.swipe-details-sub {
  width: 30rem;
  text-align: center;
}

#btn-loginpage {
  width: 100%;
}

@media (max-width: 1500px) { 
  .card-img-top-img {
    max-height: 14rem;
    width: 100%;
  }
}

@media (max-width: 1200px) { 
  .card-img-top-img {
    max-height: 12rem;
    width: 100%;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .commentbox {
    width: 70%;
  }

  .card-text {
    line-height: 1.2rem;
  }

  .swipe-by {
    line-height: 1.3rem;
  }
}

@media (max-width: 991.98px) { 

  #maincard {
    min-width: 12rem;
  }

  .hero-heading {
    line-height: 4.5rem;
  }

  .logo-container {
    margin-right: 4rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  #swipediv {
    margin: 0 -6rem;
    width: 90%; 
  }

  .card-img-top-img {
    max-height: 12rem;
    width: 100%;
  }

  .btn-hero {
    width: 35%;
  }

  .commentbox {
    width: 75%;
  }

  .swipe-img-holder {
    padding: 3rem;
    width: 100%;
  }

  .details-container {
    display: block;
  }

  .swipe-img {
    width: 100%;
    margin: 0rem;
  }

  .swipe-title {
    width:80%;
  }

  .swipe-details-sub {
    width: 100%;
    text-align: left;
  
  }

  .btn-social {
    position:absolute;
    left: 65%;
    top: 8rem;
  }
 }

 @media (max-width: 767.98px) { 
  #nav-logo {
    margin-right: 5rem;
  }

  .hero-heading {
    line-height: 4.5rem;
    font-weight: 900;
    font-size: 4.5rem;
    text-align: center;
  }

  #btn-guest {
    margin-right: 0rem;
  }

  .btn-hero {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(85, 49, 190);
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.7rem;
    text-align: center;
  }

  .card-img-top-img {
    max-height: 12rem;
  }

  .logo-container {
    margin-right: 1rem;
  }

  #btn-viewswipe {
    background: rgb(85, 49, 190);
  }

  .commentbox {
    width: 90%;
  }

  .btn-social {
    position:absolute;
    left: 65%;
  }

  .swipe-details-sub {
    margin-top: 10px;
  }
}

 @media (max-width: 575.98px) { 
  #welcome {
    display: none;
  }

  .hero-heading {
    line-height: 3.5rem;
    font-weight: 900;
    text-align: center;
    font-size: 3.5rem;
  }

  p {
    text-align: center;
  }

  #btn-guest {
    margin-right: 1rem;
  }

  .btn-hero {
    width: 75%;
    margin: 0 auto;
  }

  .card-img-top-img {
    max-height: 11rem;
    width: 100%;
  }

  .btn-social {
    position:absolute;
    left: 65%;
  }

  .swipe-details-sub {
    margin-top: 10px;
  }

  .nav-small {
    justify-content: space-between;
  }

  .signin-form {
    max-width: 100%;
  }

  .card {
    margin: 0 auto;
  }

  #card {
    margin: 0 auto;
  }
 }

 
